 body {
        font-family: "Raleway", system-ui;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings:
            "wdth"100;
        background-color 0.5s ease;
    }

    .form-control {
        font-weight: 600;
    }

    p {
        color: #5a5757;
    }
    *,
    ::after,
    ::before {
        box-sizing: border-box;
        font-weight: 600;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {
        height: auto;
    }

    /* Set gray background color and 100% height */
    .sidenav {
        background-color: #f1f1f1;
        height: 100%;
        padding: 10px;
    }

    /* Set black background color, white text and some padding */
    footer {
        background-color: #555;
        color: white;
        padding: 30px;
    }
    a {
        color:white;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 15px;
        }

        .row.content {
            height: auto;
        }
    }


    h1 {
        text-align: center;
        color: #007bff;
        margin-top: 20px;
    }

    .event-details {
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;

        margin: 20px 0;
    }

    .event-details h4 {
        margin-bottom: 15px;
        font-size: 1.5rem;
    }

    .event-details p {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .event-details .qr-code-container {
        text-align: center;
        margin-top: 20px;
    }

    .event-details .qr-code-container img {
        max-width: 90%;
        height: auto;
        max-height: 200px;
        margin-top: -171px;
        margin-left: 7px;
    }

    /* Adjust if necessary */


    @media (max-width: 768px) {
        .event-details {
            padding: 15px;
        }

        .event-details h4 {
            font-size: 1.25rem;
        }

        .event-details p {
            font-size: 0.9rem;
        }
    }

    .event-details:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .event-details p {
        margin: 12px 0;
    }

    .event-details strong {
        color: #555;
    }

    .event-details a {
        color: #007bff;
        text-decoration: none;
    }

    .event-details a:hover {
        text-decoration: underline;
    }

    .greebie_image {
        display: inline-flex;
        padding: 10px;
        background: #000;
        color: #fff;
        align-items: center;
    }

    .required-icon {
        color: red;
    }

    input:read-only {
        background-color: #f0f0f0;
        /* Change this color as needed */
    }

    .total-area {
        background-color: #ffffff;
        transition: box-shadow 0.3s ease;
        border-radius: 8px;
        padding: 10px;
        /* width: 300px; */
        text-align: left;
    }

    .total-area:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .total-area p {
        font-weight: bold;
        margin: 0 0 10px 0;
    }

    .amounts {
        border-top: 1px solid #ddd;
        padding-top: 10px;
    }

    .amount-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .field-container {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #fff;
        position: relative;
        transition: box-shadow 0.3s ease;
    }

    .field-container:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .checkbox-item {
        display: flex;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        transition: background-color 0.3s ease;
    }

    .package-selection {
        display: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .checkbox-item input[type="checkbox"] {
        margin-right: 10px;
        transform: scale(1.2);
        cursor: pointer;
    }

    .package-selection .checkbox-item {
        display: flex;
        margin-bottom: 3px;
        padding: 9px;
        background-color: #f9f9f9;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

    .package-selection input[type="radio"] {
        margin-right: 10px;
        transform: scale(1.2);
    }



    #coupon-container .field {
        margin-top: 10px;
    }

    #coupon-container .row {
        display: flex;
        align-items: center;
    }

    #coupon-container .form-control {
        width: 100%;

    }

    #coupon-container .btn {
        margin-left: -13px;
    }

    .qr-code-container img {

        max-width: 150px;
        height: auto;
    }

    .qr-code-container {
        text-align: center;
        margin-top: -159px;
        margin-left: 270px;
    }

    .file-upload-container {
        background-color: #ffffff;
        transition: box-shadow 0.3s ease;
        padding: 20px;

        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    .file-upload-container:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .upload-heading {
        font-size: 20px;
        color: #0056b3;
        margin-bottom: 10px;
    }

    .required-marker {
        color: #ff0000;
        font-size: 18px;
    }

    .upload-instructions {
        font-size: 14px;
        color: #666;
        margin-bottom: 20px;
    }

    .file-upload-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -5px;
    }

    input[type="file"] {
        display: none;
    }

    .upload-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 89px;
        height: 43px;
        border: 2px solid #007bff;
        border-radius: 4px;
        background-color: #e9f1ff;
        color: #007bff;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 15px;
    }

    .upload-button svg {
        margin-right: 10px;
    }

    .upload-button span {
        font-size: 16px;
    }

    .selected-files {
        margin-top: 10px;
        font-size: 14px;
        color: #333;
    }


    .upload-submit-button {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        padding: 12px 24px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .upload-submit-button:hover {
        background-color: #0056b3;
    }

    .button {
        flex: 0 0 auto;
        width: 30%;
    }

    .file-upload-container {
        margin-bottom: 20px;
    }

    .file-upload-area {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .upload-button {
        background-color: #007bff;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

    .selected-files {
        margin-top: 10px;
    }

    .selected-files img {
        max-width: 100px;
        max-height: 100px;
        margin-right: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .sms {
        margin: 8px;

    }

    .sms p {
        padding: 10px;
        border-radius: 4px;

        margin-top: 10px;

        display: none;

    }

    .sms #coupon-message.show {
        display: block;
        border: 1px solid #28a745;
        color: #28a745;
    }

    .sms #coupon-alert.show {
        display: block;
        border: 1px solid #dc3545;
        color: #dc3545;
    }

    /* footer {
            margin-top: 1019px;
        } */

    .jay {
        flex: 0 0 auto;
        width: 58%;
    }

    #coupon-container {
        margin-top: 20px;
    }

    .field {
        margin-bottom: 20px;
    }

    .required-icon {
        color: red;
    }

    .btn {
        margin-right: 24px;
    }

    .col-9 input {
        border-radius: 8px;
    }

    .col-3 .btn {
        width: 115%;
    }

    .col-3 {
        display: flex;
        justify-content: flex-start;
    }

    @media (max-width: 576px) {

        .col-9,
        .col-3 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .col-3 .btn {
            width: 100%;
        }
    }
    